<!DOCTYPE html>
<html>
<head>
    <title>Nodium</title>
    <script data-main="/static/js/main" src="/static/js/lib/require.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"></link>
</head>
<body>
    <h1 id="title">Hi People</h1>
    <div id="menu">
        <ul>
            <li data-section="find" ><a href="#">Find</a></li>
            <li data-section="people" ><a href="#people">Show all</a></li>
            <li data-section="create" ><a href="#people/create">New person</a></li>
        </ul>
    </div>
    <div class="page-container">
        <div id="content"></div>
    </div>
    <div id="footer">
        <div class="left">Nodium 2013</div>
        <div class="right">Your first request has been processed at <%= time %>.</div>
    </div>
</body>
</html>

