<form action="#" method="POST">
    <div class="person">
        <input id="id" name="_id" type="hidden" value="<%= _id %>"/>
        <label for="nickName">Nickname:</label>
        <input id="nickName" name="nickName" type="text" value="<%= nickName %>"/><br/>
        <label for="firstName">Firstname:</label>
        <input id="firstName" name="firstName" type="text" value="<%= firstName %>"/><br/>
        <label for="lastName">Lastname:</label>
        <input id="lastName" name="lastName" type="text" value="<%= lastName %>"/><br/>
    </div>
    <div class="form-footer">
        <input type="reset" value="Reset"/>
        <input type="submit" value="Save"/>
    </div>
</form>

